@import url(reset.css);
.header {position: relative;
  max-width: 100%;
  z-index: 2;
  box-shadow: 0px 5px 5px -2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;
  height: 50px;
  background-color: #ebebeb;
}
.header__name-page {
  padding: 0px 25px;
  text-align: center;
} 
.header__name-page a{
  padding: 5px;
  display: inline-block;
  color: #2e2e2e;
  text-transform: uppercase;
}
.header__menu {
  flex: 1 1 auto;
  height: 100%;

}
.header__items {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__item {
  text-align: center;
  flex: 0 0 33.3%;
}
.header__item a:hover{
  font-size: 18px;
  color: #4a4a4a;
  text-decoration: underline;
}
.header__item a{
  padding: 8px;
  color: #2e2e2e;
  transition: all .1s ease;
}
 @media(max-width: 459.98px){
  .header{
    font-size: 14px;
  }
  .header__name-page{
    padding: 9px;
    font-size: 16px;
  }
  .header__name-page{
    padding: 7px;
  }
 }
 @media(max-width: 399.98px){
  .header{
    font-size: 14px;
  }
  .header__name-page{
    padding: 10px;
    font-size: 14px;
  }
 }