/* why createx */
.why-createx {
  width: 100%;
  padding: 40px 0 40px;
  background: url(../img/main/why-background.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.why-createx-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-createx__img {
  width: 100%;
  max-width: 600px;
}
.why-createx__img img {
  width: 100%;
}
.why-createx__content {
  padding-top: 20px;
}
.title-why {
  text-align: center;
}
.why-createx__title {
  text-align: center;
  padding-bottom: 20px;
}
.why-createx__list {
  color: #424551;
  padding-bottom: 20px;
}
.why-createx__item{
  position: relative;
  padding-left: 16px;
}
.why-createx__item::before {
  position: absolute;
  left: 0;
  top: 4px;
  content: "";
  width: 10px;
  height: 10px;
  background: url(../img/icon/why-icon.svg);
  background-position: center;
  background-size: cover;;
}
.why-createx__item:not(:last-child) {
  margin-bottom: 10px;
}
.why-createx__btn {
  font-size: 1rem;
}
.courses {
  padding-bottom: 20px;
}
.courses__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courses__flex {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  column-gap: 110px;
}
.courses__btn {
  font-size: 1rem;
}
.courses__some-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  row-gap: 10px;
  column-gap: 10px;
}
.courses__course {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
  0px 30px 24px -10px 
  rgba(154, 156, 165, 0.05),
   0px 12px 10px -6px 
   rgba(154, 156, 165, 0.04), 
   0px 4px 4px -4px 
   rgba(30, 33, 44, 0.03);
 border-radius: 4px;
}
.courses__course:hover {
  box-shadow: 0px 80px 80px -20px
   rgba(154, 156, 165, 0.16),
    0px 30px 24px -10px
   rgba(154, 156, 165, 0.1),
   0px 12px 10px -6px
   rgba(154, 156, 165, 0.08), 0px 4px 4px -4px
   rgba(30, 33, 44, 0.05);
}
.course__img {
  max-width: 214px;
}
.course__img img {
  width: 100%;
  object-fit: cover;
}
.course__content {
  padding: 15px 32px 30px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course__profession {
  padding: 1px 8px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
}
.course__name-course {
  padding: 10px 0;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}
.course__price-teacher {
  display: flex;
  gap: 8px;
}
.course__price {
  color: #FF4242;
}
.course__name-teacher {
  border-left: 1px solid #787A80;
  padding-left: 8px;
  color: #787A80;
}
.benefits {
  padding-bottom: 20px;
}
.benefits__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits__title {
  padding-bottom: 20px;
}
.benefits__nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.nav__item {
  width: 100%;
  padding: 9px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9A9CA5;
}
.nav__item:first-child {
  border: 1px solid #FF3F3A;
  border-radius: 4px;
  color: #FF3F3A;
}
.nav__icon  i{
  font-weight: 400;
}
.nav__text {
  font-weight: 700;
  padding-left: 8px;
  line-height: 1.6;
}
.benefits__content-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.benefits__content{
  text-align: center;
}
.benefits__content-title {
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.3;
}
.benefits__content-text {
  max-width: 495px;
  color: #424551;
  line-height: 1.6;
}
.benefits__img {
  flex: 0 0 600px;
  max-width: 100%;
  display: none;
}
.benefits__img img {
  width: 100%;
  object-fit: cover;
}
.events {
  position: relative;
  padding: 20px 0 20px;
}
.events::before {
  position: absolute;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: url(../img/main/events-bg.svg), linear-gradient(55.95deg, hsl(2, 100%, 61%) 0%, #F75E05 100%);
  opacity: 0.2;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -100;
}
.events__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events__title {
  padding-bottom: 20px;
}
.events__sum-events {
  width: 100%;
}
.events__event {
  margin-bottom: 1.5rem;
  padding: 32px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}
.events__event:hover {
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.event__date {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.day {
  color: #FF3F3A;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.3;
}
.month-time {
  /* flex: 0 0 auto; */
  padding-left: 20px;
}
.mon {
  padding-bottom: 4px;
  font-weight: 700;
}
.time {
  color: #787A80;
  line-height: 1.6;
}
.event__name {
  padding-bottom: 10px;
  text-align: center;
}
.name-name {
  padding-bottom: 4px;
  font-weight: 700;
  line-height: 1.5;
}
.name-event {
  color: #787A80;
  line-height: 1.6;
}
.event-btn {
  font-size: 0.75rem;
}
.events__more {
  text-align: center;
  padding-top: 6px;
}
.events__more-title {
  padding-bottom: 1rem;
  font-size: 1.25rem;
}
.certificate {
  width: 100%;
  padding: 40px 0 40px;
}
.certificate__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.certificate__content {
  text-align: center;
}
.certificate__subtitle {
  line-height: 1.5;
}
.certificate__title {
  padding-bottom: 20px;
  line-height: 1.3;
}
.certificate__text {
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.6;
}
.certificate__partners {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.certificate__partners a {
  max-width: 105px;
  width: 100%;
}
.certificate__partners a img {
  width: 100%;
  object-fit: cover;
}
.certificate__img {
  max-width: 705px;
  width: 100%;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
  border: 1px solid #E5E8ED;
}
.certificate__img img {
  width: 100%;
  object-fit: cover;
}
.team-testimonials {
  position: relative;
  width: 100%;
  padding: 20px 0 40px;
  background: url(../img/main/team-testimonials-bg.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.team-testimonials::before {
  position: absolute;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: #F4F5F7;

  z-index: -100;
}
.team__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__slider-conteiner {
  position: relative;
  padding: 84px 0 0;
  width: 100%;
  max-width: 305px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.prev, .next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}
.prev {
  right: 48px;
}
.next {
  right: 0px;
  transform: rotate(-180deg);
}
.prev:hover, .next:hover {
  background: #FF3F3A;
  color: #fff;
}
.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  max-width: 315px;
  flex: 0 0 100%;
}
.team__img {
  max-height: 340px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #FFCF2D;
  border-radius: 4px;
}
.team__img img {
  width: 100%;
  object-fit: cover;
}
.hover-gradient {
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}
.team__img:hover .hover-gradient {
  display: block;
}
.team__img:hover .team__link{
  display: flex;
}
.team__link {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: none;
  align-items: center;
  column-gap: 12px;
}
.team__link a {
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.team__link a img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.team__name {
  padding: 16px 0 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}
.team__position {
  color: #787A80;
  line-height: 1.6;
}
.testimonials {
  padding: 40px 0 40px;
}
.testimonials__wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.testimonials__title {
  padding-bottom: 20px;
}
.testimonials__slider-container {
  width: 100%;
  position: relative;
  padding: 0 30px  0;
}
.testimonials-prev , .testimonials-next {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.testimonials-prev {
  transform: translate(0, -50%);
  left: -8px;
}
.testimonials-next {
  right: -8px;
  transform: translate(0, -50%) rotate(-180deg);
}
.slede__lins {
  position: absolute;
  left: 50%;
  bottom: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  transform: translate(-50%);
}
.slede__line {
  cursor: pointer;
  background-color: #B3B7BC;
  height: 3px;
  width: 30px;
}
.slede__line:first-child {
  background-color: #424551;
}
.testimonials__slide {
  padding: 10px;
  background-color: #fff;
  width: 100%;
  display: flex;
}
.braces {
  min-width: 14px;
  min-height: 10px;
  overflow: hidden;
}
.braces img {
  width: 100%;
  object-fit: cover;
}
.testimonials__testimonial {
  padding-left: 10px;
}
.testimonial {
  padding-bottom: 10px;
  line-height: 1.2;
  font-size: 1.25em;
}
.testimonial__user {
  display: flex;
  align-items: center;
}
.testimonial__user-foto {
  max-width: 72px;
  max-height: 72px;
  overflow: hidden;
}
.testimonial__user-foto img {
  width: 100%;
  object-fit: cover;
}
.testimonial__name-position {
  padding-left: 20px;
}
.testimonial__name {
  padding-bottom: 4px;
  line-height: 1.6;
  font-weight: 700;
}
.testimonial__position {
  color: #787A80;
  line-height: 1.5;
  font-size: 0.875rem;
}
.blog {
  padding: 20px 0;
}
.blog__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} 
.blog__subtitle {
  width: 100%;
  text-align: center;
}
.blog__content {
  flex: 0 0 100%;
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blog__sume-content {
  display: flex;
  max-width: 390px;
  flex-direction: column;
  padding-bottom: 20px;
  position: relative;
}
.blog__content-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 1px 8px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.blog__content-badge-icon {
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.blog__content-badge-icon img {
  height: 100%;
  object-fit: cover;
}
.blog__content-badge span {
  padding-left: 4px;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #424551;
}
.blog__content__img {
  width: 100%;
  overflow: hidden;
  padding-bottom: 16px;
}
.blog__content__img img {
  width: 100%;
  object-fit: cover;
}
.blog__content-name-date {
  display: flex;
  align-items: center;
  color: #787A80;
  line-height: 1.5;
  font-size: 0.875rem;
}
.blog__content-name-date span:not(:last-child) {
  padding-right: 5px;
  border-right: 1px solid #787A80;
}
.blog__content-name-date span:not(:first-child) {
  padding-left: 5px;
}
.blog__content-name {
  font-weight: 700;
}
.blog__content-date {
  display: flex;
  text-align: center;
}
.blog__content-duration {
  display: flex;
  text-align: center;
}
.blog__content-title {
  padding: 8px 0;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
}
.blog__content-text {
  padding-bottom: 16px;
  line-height: 1.6;
  color: #424551;
}
.blog__content-link {
  padding-bottom: 1px;
  display: flex;
  align-items: center;
  column-gap: 14px;
  line-height: 1.6em;
  font-weight: 700;
}
.blog__content-link img{
  width: 18px;
  object-fit: cover;
}
.subscribe {
  position: relative;
  padding: 20px 0 30px;
  background: url(../img/main/subscribe-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  
}
.subscribe::before {
  position: absolute;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  background-size: 100%;
  opacity: 0.2;
  z-index: -100;
}
.subscribe__wrap {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__subtitle {
  text-align: center;
}
.subscribe__title {
  text-align: center;
  padding-bottom: 30px;
}
.subscribe__form {
  width: 100%;
  max-width: 300px;
  display: flex;
  column-gap: 24px;
}
.subscribe__email{
  padding:0 16px;
  width: 100%;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  line-height: 1.6;
  font-size: 1rem;
}
.subscribe__btn {
  font-size: 1rem;
}
@media(min-width: 720px) {
  .testimonials__slider-container {
    padding: 0 60px 30px;
  }
  .testimonials-prev {
    transform: translate(0, -50%);
    left: 0;
  }
  .testimonials-next {
    right: 0px;
    transform: translate(0, -50%) rotate(-180deg);
  }
  .testimonials-prev:hover, .testimonials-next:hover {
    background: #FF3F3A;
    color: #fff;
  }
  .testimonials__slide {
    padding: 32px 52px;
  }
  .testimonials__testimonial {
    padding-left: 30px;
  }
  .testimonial {
    padding-bottom: 24px;
    line-height: 1.5;
  }
  .blog__content-name-date span:not(:last-child) {
    padding-right: 12px;
    border-right: 1px solid #787A80;
  }
  .blog__content-name-date span:not(:first-child) {
    padding-left: 12px;
  }
  .subscribe{
    background-size: 100%;
  }
}
@media(min-width: 1024px) {
  .why-createx {
    padding: 180px 0;
  }
  .why-createx-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .why-createx__img {
    flex: 0 0 58%;
    max-width: 705px;
  }
  .why-createx__content {
    max-width: 390px;
  }
  .title-why {
    padding-bottom: 8px;
    font-weight: 700;
  }
  .why-createx__title {
    font-size: 2.875rem;
    padding-bottom: 40px;
  }
  .why-createx__list {
    padding-bottom: 3rem;
  }
  .why-createx__item::before {
    left: -1rem;
    width: 15px;
    height: 15px;
  }
  .why-createx__item:not(:last-child) {
    margin-bottom: 12px;
  }
  .why-createx__btn {
    font-size: 0.875rem;
  }
  .courses {
    padding-bottom: 180px;
  }
  .courses__wrap {
    flex-direction: column;
    align-items: start;
  }
  .courses__flex {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 0;
    column-gap: 0;
  }
  .courses__some-courses {
    padding-top: 60px;
    gap: 30px;
  }
  .courses__course {
    flex: 1 1 45%;
    flex-direction: row;
  }
  .course__img {
    flex: 0 0 35.5%;
  }
  .course__content {
    padding: 33px 32px 32px;
    max-width: 100%;
    align-items: start;
  }
  .course__name-course {
    padding: 20px 0;
    font-size: 1.25rem; 
    text-align: start;
  }
  .course__price {
    font-size: 1.125rem;
  }
  .course__name-teacher {
    font-size: 1.125rem;
  }
  .benefits{
    padding-bottom: 120px;
  }
  .benefits__title {
    padding-bottom: 60px;
  }
  .benefits__nav {
    flex-direction: row;
    padding-bottom: 60px;
  }
  .nav__item {
    flex: 0 0 25%;
  }
  .benefits__content-wrap {
    align-items: center;
    justify-content: space-between;
  }
  .benefits__content {
    text-align: start;
  }
  .benefits__content-title {
    font-size: 2rem;
  }
  .benefits__img {
    display: block;
  }
  .events {
    padding: 80px 0;
  }
  .events__title {
    padding-bottom: 60px;
  }
  .events__event {
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
    flex-direction: row;
  }
  .event__date {
    flex: 0 0 auto;
    padding-bottom: 0;
  }
  .day {
    font-size: 3rem;
  }
  .mon {
    font-size: 1.25rem;
  }
  .event__name {
    flex: 1 1 auto;
    padding-bottom: 0;
    padding-left: 40px;
    text-align: start;
  }
  .events__more{
    padding-top: 2.25rem;
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
  }
  .events__more-title {
  padding-bottom: 0;
  font-size: 1.25rem;
  }
  .certificate {
    padding: 37px 0 37px;
  }
  .certificate__wrap {
    position: relative;
    top: 83px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  } 
  .certificate__content {
    text-align: start;
  }
  .certificate__title {
    padding-bottom: 48px;
  }
  .certificate__text {
    padding-bottom: 32px;
  }
  .certificate__partners {
    padding-bottom: 0;
    justify-content: start;
    column-gap: 40px;
  }
  .team-testimonials {
    padding: 166px 0 160px;
  }
  .team {
    padding-bottom: 156px;
  }
  .team__wrap {
    align-items: start;
  }
  .team__slider-conteiner {
    align-self: center;
    max-width: 915px;
    top: -24px;
  }
  .braces {
    min-width: 28px;
    min-height: 20px;
  }
  .testimonials {
    padding: 0;
  }
  .testimonials__title {
    padding-bottom: 60px;
  }
  .testimonials__slider-container {
    padding: 0 105px 0;
  }
  .slede__lins {
    bottom: -60px;
  }

  .testimonials__slide {
    padding: 64px 105px;
  }
  .testimonials__testimonial {
    padding-left: 30px;
  }
  .testimonial {
    padding-bottom: 24px;
    line-height: 1.5;
  }
  .blog {
    padding: 120px 0 180px;
  }
  .blog__content {
    padding-top: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .blog__subtitle {
    text-align: start;
  }
  .blog__sume-content {
    min-height: 100%;
    padding-bottom: 0;
    flex: 0 0 32%;
  }
  .blog__content-title {
    font-size: 1.25rem;
  }
  .blog__content-text {
    padding-bottom: 16px;
    line-height: 1.6;
    color: #424551;
  }
  .subscribe {
    padding: 120px 0 180px;
  }
  .subscribe__wrap {
    max-width: 665px;
  }
  .subscribe__title {
    padding-bottom: 60px;
  }
  .subscribe__form {
    max-width: 600px;

  }
}
@media(min-width: 1252px) {
  .team__slider-conteiner{
    max-width: 100%;
    align-self: flex-start;
  }
  .team__card {
    padding: 0 30px 0 0;
  }
}