
.top-bar_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar_logo{
  position: relative;
  overflow: hidden;
  height: 20px;
  width: 115px;
  margin-right: 10px;
}
.top-bar_logo img{
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  width: 100%;
  object-fit: cover;
}
.top-bar{
  padding: 20px 0;
}
.top-bar_manu-body {
  padding: 10px 0;
  width: 290px;
  position: absolute;
  top: -999px;
  right: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: top 0.5s ease 0s;
  z-index: 2;
  border-radius: 6px;
}
.show-menu {
  top: 40px;
}
.top-bar_main-manu {
  font-weight: 700;
  font-size: 2rem;
  color: #E5E5E5;
}
.top-bar_main-manu li {
  margin-bottom: 10px;
}
.r-side {
  display: flex;
  align-self: flex-end;
}
.top-bar_login {
  color: #424551;
  margin-right: 10px;
  align-items: center;
}
.top-bar_login .fa-user{
  font-size: 1rem;
  font-weight: 500;
}
.icon-menu-burger {
  position: relative;
  height: 18px;
  width: 18px;
  transition: all 2s ease 0s;
}
.icon-menu-burger span,
.icon-menu-burger::before,
.icon-menu-burger::after {
  position: absolute;
  right: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #424551;
  transition: all 0.2s ease 0s;
}
.icon-menu-burger span {
  top: 50%;
  transform: translate(0, -50%);
}
.icon-menu-burger::before {
  top: 0;
}
.icon-menu-burger::after {
  bottom: 0;
}
.transform span{
  width: 0;
}
.transform::before{
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.transform::after{
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}
 @media(min-width: 1024px){
  .top-bar_wrap {
    justify-content: start;
  }
  .icon-menu-burger {
    display: none;
  }
  .top-bar_manu-body {
    padding: 0 0 0 50px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
  }
  .top-bar_manu-body nav{
    flex: 1 1 auto;
  }
  .top-bar_manu-body .btn-gradient {
    margin-right: 35px;
  }
  .top-bar_main-manu {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #424551;
  }
  .top-bar_main-manu li{
    margin-bottom: 0;
  }
  .top-bar_main-manu li:not(:last-child){
    padding-right: 20px;
  }
  .r-side {
    align-self: center;
  }
 }
 @media(min-width: 1200px){
  .top-bar_main-manu li:not(:last-child){
    padding-right: 40px;
  }
 }