@import url(reset.css);
@import url(header.css);
[class*=__container]{
  margin: 0 auto;
  width: 1015px;
  padding: 0 15px;
}
.main__content{
  padding: 15px;
  background-color: #2e2e2e;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project{
  border: 1px solid #ebebeb;
  padding: 5px;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__img{
  width: 100%;
  height: 70%;
  margin-bottom: 20px;
  overflow: hidden;
}
.main__img img{
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
.project a{
  color: #2e2e2e;
  border-radius: 30px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #ebebeb;
  text-transform: uppercase;
}
.project a:hover{
  border: 1px solid #ebebeb;
  color: #ebebeb;
  background-color: #2e2e2e;
}