/* Styles for page header */
.page-header {
  min-height: 100vh;
  background: linear-gradient(90deg, #d52047cc 0%, rgba(238, 61, 27, 0.8) 100%),
              url(/landing/img/bg-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.logo {
  align-items: center;
}
.logo-title {
  color:var(--white);
  font-weight: 700;
  padding-left: 10px;
  text-transform: uppercase;
}
.menu-mobile{
  position: relative;
}
.menu-icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
}

.menu-icon i {
  font-size: 2rem;
  color: var(--white);
}

.burger-menu {
  position: absolute;
  top: -9999px;
  right: 0;
}
.main-manu, .btn__login{
  font-size: 28px;
  color:  var(--white);
  text-transform: uppercase;
  text-align: center;
}
.main-manu {
  padding: 1rem 1rem 0px;
}
.main-manu li{
  border: 1px solid  var(--white);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
}
.btn__login {
  border: 1px solid  var(--white);
  padding: 0.5rem;
  margin: 0 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.3);
}