@import url(/landing/style/reset.css);
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,&display:swap");
@import url(/landing/style/_variables.css);
@import url(/landing/style/_hedear.css);
@import url(/landing/style/_video.css);

/* Global styles */
body{
  font-family: var(--main-font);
}
.page-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
.content-wrap {
  padding: 0px 15px;
}
.d-flex {
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.hide{
  display: none !important;
}
.show-menu{
  top: 50px;
}
.uppercase {
  text-transform: uppercase;
}

.btn-sing {
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  padding: 0 52px;
  background-color: var(--white);
  color: var(--main-color);
  line-height: 50px;
}

.link{
  font-size: 14px;
  color: var(--brand-color);
}

@media(min-width: 1199.98px){
  .content-wrap {
    padding: 0 165px;
  }
  .btn {
    border-radius: 6px;
    cursor: pointer;
  }
  .btn__login {
    width: 100px;
    height: 40px; 
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 14px;
  }
}