*{
  padding: 0;margin: 0;box-sizing: border-box;
}
table{
  margin: 0 auto;
  border: 2px solid #000;
}
td{
  font-size: 50px;
  text-align: center;
  width: 67px;
  height: 67px;
}
tr:nth-child(odd) td:nth-child(even){
  background-color: #444444;
}
tr:nth-child(even) td:nth-child(odd){
  background-color: #444444;
}