* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: grey;
}
.wrapper {
    margin: 0 auto;
    max-width: 1240px;
}
.left {
    background-color: blue;
    padding: 25px 0 25px 20px;
    color: white;
}
.avatar {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.avatar img {
    margin-left: -60px;
    height: 100%;
}
.title {
    font-size: 26px;
    border-bottom: 2px solid white;
    padding: 25px 0;
}
.lang-lvl {
    float: right;
    margin-right: 25px;
}
.right {
    padding: 25px;
    background-color: white;
}
.right h1 {
    display: none;
}
@media screen and (min-width: 800px) {
    .wrapper{
        height: 680px;
    }
    .left, .right {
        display: inline-block;
        height: 100%;
    }
    .left {
        width: 25%;
    }
    .right { 
        width: 75%;
        float: right;
    }
    .right h1 {
        display: block;
    }
}
